.banner {
    text-align: center;
    margin: 5vw;
    margin-bottom: 5em;
}

.holder {
    background-color: rgb(232,234,239);
    margin: 3em;
}

.col-margins {
    margin-bottom: 1.5em;
}


.container-custom{
    background-color: rgb(232,234,239);
    padding: 35px;
    margin-bottom: 5em;
}

.search {
    width: 400px;
}